body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
}
#u2 {
  position:absolute;
  left:2px;
  top:337px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:918px;
  top:660px;
  width:15px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3_img.selected {
}
#u3.selected {
}
#u4 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:968px;
  top:660px;
  width:15px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5_img.selected {
}
#u5.selected {
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:942px;
  top:660px;
  width:15px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7_img.selected {
}
#u7.selected {
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:560px;
  top:145px;
  width:450px;
  height:400px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:400px;
}
#u10 {
  position:absolute;
  left:2px;
  top:192px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
  opacity:0.800000011920929;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
}
#u12 {
  position:absolute;
  left:2px;
  top:337px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:918px;
  top:660px;
  width:15px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:968px;
  top:660px;
  width:15px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:942px;
  top:660px;
  width:15px;
  height:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:560px;
  top:180px;
  width:510px;
  height:365px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:365px;
}
#u20 {
  position:absolute;
  left:2px;
  top:174px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:690px;
}
#u22 {
  position:absolute;
  left:2px;
  top:337px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:560px;
  top:145px;
  width:450px;
  height:400px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:400px;
}
#u24 {
  position:absolute;
  left:2px;
  top:192px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:942px;
  top:660px;
  width:15px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:967px;
  top:660px;
  width:15px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:917px;
  top:660px;
  width:15px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u29_img.selected {
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1300px;
  top:180px;
  width:340px;
  height:380px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:380px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:380px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:380px;
}
#u33 {
  position:absolute;
  left:2px;
  top:182px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:118px;
  top:19px;
  width:99px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#25A0DC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:50px;
  top:100px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:50px;
  top:190px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:50px;
  top:135px;
  width:240px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:50px;
  top:225px;
  width:240px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:70px;
  top:310px;
  width:200px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:-15px;
  top:0px;
  width:230px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:170px;
  top:65px;
  width:120px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u47 {
  position:absolute;
  left:50px;
  top:65px;
  width:120px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:15px;
  width:7px;
  height:36px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:36px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:470px;
  top:30px;
  width:400px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:46px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
  text-shadow:3px 3px 20px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:3px 3px 20px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:3px 3px 20px rgba(0, 0, 0, 0.647058823529412);
}
#u52 {
  position:absolute;
  left:222px;
  top:710px;
  width:80px;
  height:80px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u53 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:198px;
  top:800px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#808080;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:452px;
  top:710px;
  width:80px;
  height:80px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u57 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:444px;
  top:800px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#808080;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:685px;
  top:710px;
  width:75px;
  height:75px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u61 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:658px;
  top:800px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#808080;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:918px;
  top:710px;
  width:70px;
  height:70px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u65 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:888px;
  top:800px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#808080;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1148px;
  top:710px;
  width:70px;
  height:70px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u69 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1118px;
  top:800px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#808080;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1378px;
  top:710px;
  width:70px;
  height:70px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u73 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1364px;
  top:800px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#808080;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1605px;
  top:710px;
  width:75px;
  height:75px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u77 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1586px;
  top:800px;
  width:113px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#808080;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:690px;
  top:870px;
  width:519px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#808080;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  word-wrap:break-word;
}
